$main: "school";
$child: "box";
$language: "en"; // English
$gap: 20px;


.#{$main} {
  padding: $gap;
  @if $language == "en" {
    direction: ltr;
  } @else {
    direction: rtl;
  }
  margin-left: $gap;
}
.#{$main} .#{$main}-#{$child} {
  padding: calc($gap / 2);
}
.#{$main}:hover .#{$main}-#{$child} {
  background-color: #eee;
}
