// SASS Code
$number: 9;

.box {
  @if $number == 10 {
    background-color: #EEE;
    text-align: center;
  } @else if $number == 9 {
    background-color: #EEE;
  } @else if $number == 8 {
    background-color: (null);
  }
}
